body 
{
    background-color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
}

#container
{
    margin-left:auto ;
    margin-right: auto;

}

#top
{

    height: 300px;
    color: rgb(248, 223, 0);
    letter-spacing: 5px;
    font-size: 50px;
    text-align:center;
    padding-top: 5px;
    background: rgb(78, 97, 80) url("Img/top.png");
    background-size: cover;
    text-shadow:3px 3px rgb(0, 0, 0)



}


#nav
{
    float: left;
    width: 180px;
    min-height: 630px; 
    padding:10px;
    margin: 10px;
    background: url("Img/nav.jpg") ;
    background-size: cover;
    opacity: 0.8;

}

.menu-tab
{
    font-size: 35px;
    padding: 5px;
    text-align: center;
    border: 1px solid rgb(250, 226, 7)

}

.menu-tab:hover
{
    cursor: pointer;
    transition: background-color .3s ;
    background-color: rgb(94, 94, 93)


}

.content
{
    padding: 10px;
    height: 1000px;
    background-color: rgb(31, 73, 40);
    color: rgb(202, 182, 5);
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px rgb(2, 2, 2);
    font-size: 30px;
    text-align: left;
    font-weight: 700;
    background: rgb(24, 39, 23)
}

#footer
{
    clear: both;
    background-color: black;
    color: white;
    text-align: center;
    height: 25px;
    padding: 25px;
    font-size: 25px;

}

.menu-tab-active
{
    background: rgb(177, 151, 5);
}

@media (max-width: 600px)
{




}


