body 
{
    background-color: rgb(78, 97, 80);
}

#container
{
    margin-left:auto ;
    margin-right: auto;

}

#top
{

    height: 320px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(250, 226, 7);
    font-size: 50px;
    text-align:center;
    padding-top: 5px;
    background: rgb(78, 97, 80) url("Img/top.png");
    background-size: cover;
    text-shadow:3px 3px rgb(0, 0, 0)



}

#nav
{
    float: left;
    width: 160px;
    min-height: 610px;
    background: rgb(78, 97, 80) url("Img/nav.jpg") ;
    background-size: cover;
    padding: 5px;
    text-align: center;
    color:rgb(250, 226, 7);
    font-size: 40px;
    text-shadow: 2px 2px rgb(0, 0, 0);




}

#content
{
    height: 600px;
    padding: 10px;
    background-color: rgb(31, 73, 40);
    color: rgb(202, 182, 5);
    font-size: 30px;

    text-align: center;
    background: rgb(24, 39, 23)
    

    
    







}

#footer
{
    clear: both;
    background-color: black;
    color: white;
    text-align: center;
    height: 25px;
    padding: 25px;
    font-size: 25px;

}